<!--List of Products-->
@{
    ViewBag.Title = "Products";
}

<table>
    <tr>
        <td class="imgLeft"></td>
        <td> <h2><b>Shirt</b></h2></td>
        <td>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Add to Cart</a>
        </td>
    </tr>
    <tr>
        <td class="imgLeft2"></td>
        <td> <h2><b>Mug</b></h2></td>
        <td>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Add to Cart</a>
        </td>
    </tr>
    <tr>
        <td class="imgLeft"></td>
        <td> <h2><b>Hoodie</b></h2></td>
        <td>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Add to Cart</a>
        </td>
    </tr>
</table>
