
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.homeImg {
    width: 100%;
    height: 80vh;
    border: 1px solid black;
    background-color: deeppink;
    margin-bottom: 5%;
}
.imgLeft {
    display: inline-block;
    float: left;
    width: 30vw;
    height: 50vh;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: coral;
}
.imgRight {
    display: inline-block;
    float: right;
    width: 30vw;
    height: 50vh;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: darkgoldenrod;
}
.imgLeft2 {
    display: inline-block;
    float: left;
    width: 30vw;
    height: 50vh;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: cadetblue;
}
.imgRight2 {
    display: inline-block;
    float: right;
    width: 30vw;
    height: 50vh;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: darkolivegreen;
}
.buttonContainer {
    display: flex;
    justify-content: center; 
    gap: 55%; 
    clear: both; 
    margin-bottom: 15%; 
}